@page "/navman"
@inject NavigationManager NavManager
@rendermode InteractiveServer


<h3>Navigation Manager</h3>
<h2>Current URL:@NavManager.Uri</h2>
<h2>Base URL:@NavManager.BaseUri</h2>

<button class ="btn btn-primary" @onclick="GotoPage">
    Go to Another Page
    </button>

@code {

    void GotoPage()
    {
        NavManager.NavigateTo("/AnotherPage",forceLoad:true); 
    }
}
