@inherits LayoutComponentBase

<div class="bg-primary p-5">
    <h1 class="text-center">Header</h1>
</div>

<div class="bg-primary p-5">
    <h1 class="text-center">Navbar</h1>
</div>


<div>
    @Body
</div>

<div class="bg-success p-5">
    <h1 class="text-center"></h1>Footer
</div>